{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h1>Inscription</h1>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<table class="nice">
			<tr><th>Identifiant</th><td>{{ form_widget(form.username) }}{{ form_errors(form.username) }}</td></tr>
			<tr><th>Mot de passe</th><td>{{ form_widget(form.plainPassword.first) }}</td></tr>
			<tr><th>Confirmer mot de passe</th><td>{{ form_widget(form.plainPassword.second) }}</td></tr>
			<tr><th>E-mail</th><td>{{ form_widget(form.email) }}{{ form_errors(form.email) }}</td></tr>
			<tr><th colspan="2">{{ form_widget(form.save) }}</th>
		</table>
		{{ form_end(form) }}

	</article>
{% endblock %}

