{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/swac-recorder.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	{% include 'routes.inc.twig' %}
	<script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
	<script type="text/javascript">
		window.onload = function() {
			studio = new StudioWidget({{ user.getId() }}, "{{ path('soundsApi') }}", document.getElementById('addSpeaker') );
			studio.setSpeakers({{(speakers|toArr(["speaker"])|json_encode|raw)}});
			studio.showSound = function(sound) {
				pathSoundsShow(sound.id).open("_blank");
			};
			var container = document.getElementById('container');
			container.parentNode.replaceChild(studio.node, container);
		};
	</script>
{% endblock %}

{% block body %}
	<h1>Studio d’enregistrement</h1>
	<div id="container">
		<table>
			<tr>
				<th id="addSpeaker"><a href="{{ path("usersAddSpeaker", {"id": user.getId() }) }}"><img src="{{ asset("img/add_24.png") }}" title="Ajouter un locuteur"/></a></th>
			</tr>
		</table>
	</div>
{% endblock %}

