{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h1>
		{% if auth and auth.getId() == user.getId() %}
			My Account
		{% else %}
			Account of « {{ user.getUsername()|capitalize }} »
		{% endif %}
		</h1>

		{% if user.editableBy(auth) %}
		<h2>Settings</h2>
		<table class="nice">
			<tr><th>E-mail</th><td>{{ user.getEmail() }}</td></tr>
			<tr><th>Inscription</th><td>{{ user.getCreated()|date("d/m/Y") }}</td></tr>
			<tr><th colspan="2" class="tools"><a href="{{ path("usersUpdate", {"id":user.getId()}) }}"><img src="{{ asset("img/edit_24.png") }}" title="Modifier"/></a></th></tr>
		</table>
		<p><a href="{{ path("usersUpdatePassword", {"id":user.getId()}) }}">Set a new password</a></p>
		{% endif %}

		{% if hasSound %}
		<h2>Recordings</h2>
		<a href="{{ path("soundsDownload", {"userId": user.getId() }) }}"><img class="icon" src="{{ asset("img/download.png") }}"/> Download</a>
		{% endif %}
		
		<h2>Speakers</h2>
		{% if user.getSpeakers()|length > 0 %}
			<p><a class="lienpart" href="{{ path('usersSpeakers', {"id": user.getId()}) }}">See speakers</a></p>
		{% else %}
			<p>You must now create <em>a speaker card</em>. A speaker profile is used to enter information about a person whose voice will be recorded.</p>
			{% if user.editableBy(auth) %}<a class="button" href="{{ path("usersAddSpeaker", {"id": user.getId() }) }}">Step 2 : Define a speaker</a>{% endif %}
		{% endif %}
	</article>
{% endblock %}

