{% extends 'base.html.twig' %}

{% block javascript %}
	{% include 'routes.inc.twig' %}
	<script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
	<script type="text/javascript">
		window.onload = function() {
			var sounds = new SoundsWidget({{ (sounds|toArr|json_encode|raw) }}, "{{ asset('audio') }}");
			sounds.setCallback("showspeaker", sounds, function(speaker) {
				pathSpeakerShow(speaker.id).open();
			});
			sounds.setCallback("showsound", sounds, function(sound) {
				pathSoundsShow(sound.id).open();
			});
			var container = document.getElementById('container');
			container.parentNode.replaceChild(sounds.node, container);
		};
	</script>
{% endblock %}

{% block body %}
	<article>
		<h1>{% if auth and auth.getId() == user.getId() %}My recordings{% else %}Recordings of « {{ user.getUsername()|capitalize }} »{% endif %}</h1>
		<div id="container"></div>
		<a href="{{ path("soundsDownload", {"userId": user.getId() }) }}"><img class="icon" src="{{ asset("img/download.png") }}"/> Download</a>
	</article>
{% endblock %}

