{% extends 'base.html.twig' %}

{% block body %}
	<h1>
	{% if auth and auth.getId() == user.getId() %}
		Mes enregistrements
	{% else %}
		Enregistrements de « {{ user.getUsername()|capitalize }} »
	{% endif %}
	</h1>

	<table class="nice">
		<tr><th>Locuteur</th><th>Langue</th><th>Texte</th></tr>
		{% for sound in sounds %}
		<tr>
			<td>{% if sound.getSpeaker() %}<a href='{{ path('speakersShow', {'id': sound.getSpeaker().getId()}) }}'>{{ sound.getSpeaker().getName() }}</a>{% else %}-{% endif %}</td>
			<td>{{ sound.getLang().getTitle() }}</td>
			<td>{{ sound.getText() }}</td>
			<td><audio controls="true" src="{{ asset('audio') }}/{{ sound.getFilename() }}"></audio></td>
			<th><a href="{{ path("soundsShow", {"id": sound.getId() }) }}"><img src="{{ asset('img/details_24.png') }}" title="Détails"/></a></th>
		</tr>
		{% endfor %}
		{% if auth and auth.getId() == user.getId() %}<tr><th><a href="{{ path("soundsAdd") }}"><img src="{{ asset("img/add_24.png") }}" title="Ajouter"/></a></tr></th>{% endif %}
	</table>

{% endblock %}

