{% extends 'base.html.twig' %}

{% block body %}
	{% include 'flash.inc.twig' %}

	<h1>Changer mot de passe</h1>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<table class="nice">
		<tr><th>Mot de passe actuel</th><td>{{ form_widget(form.oldPlainPassword) }}{{ form_errors(form.plainPassword) }}</td></tr>
		<tr><th>Nouveau mot de passe</th><td>{{ form_widget(form.plainPassword.first) }}{{ form_errors(form.plainPassword.first) }}</td></tr>
		<tr><th>Confirmer mot de passe</th><td>{{ form_widget(form.plainPassword.second) }}{{ form_errors(form.plainPassword.second) }}</td></tr>
		<tr><th colspan="2">{{ form_widget(form.save) }}</th>
	</table>
	{{ form_end(form) }}

{% endblock %}

