{% extends 'base.html.twig' %}

{% block body %}
	<h1>Éditer utilisateur</h1>
<div class="cadre">
	{{ form_start(form) }}
	<table class="nice">
		<tr><th>E-mail</th><td>{{ form_widget(form.email) }}</td></tr>
		{% if form.isAdmin is defined %}<tr><th>Admin</th><td>{{ form_widget(form.isAdmin) }}</td></tr>{% endif %}
		<tr><th colspan="2">{{ form_widget(form.save) }}</th>
	</table>
	{{ form_end(form) }}
</div>


{% endblock %}

