{% extends 'base.html.twig' %}

{% block body %}
	<h1>Créer une langue :</h1>

	{{ form_start(form) }}
	<table class="nice">
		<tr><th>Titre</th><td>{{ form_widget(form.title) }}</td></tr>
		<tr><th>Code</th><td>{{ form_widget(form.code) }}</td></tr>
		<tr><th colspan="2">{{ form_widget(form.save) }}</th></tr>
	</table>
	{{ form_end(form) }}

{% endblock %}

