{% extends 'base.html.twig' %}

{% block body %}
<article>
	<h1>Add a Language</h1>
	{{ form_start(form) }}
	<table class="nice">
		<tr><th>Language</th><td>{{ form_widget(form.language) }}</td></tr>
		<tr><th>Dialect</th><td>{{ form_widget(form.dialect) }}</td></tr>
		<tr><th>Place</th><td>{{ form_widget(form.country, { 'attr': {'class': 'country'} }) }}{{ form_widget(form.town) }}</td></tr>
		<tr><th>Profile-type</th><td>{{ form_widget(form.profileType) }}</td></tr>
		<tr><th>Description</th><td>{{ form_widget(form.description) }}</td></tr>
		<tr><th colspan="2"><input type="submit" value="Créer la langue"/></th>
	</table>
	{{ form_end(form) }}
</article>
{% endblock %}

