{% extends 'base.html.twig' %}

{% block body %}
	<table class="nice">
		<tr><th>Langue</th><td>{{ idiolect.getLanguage().getTitle() }}</td></tr>
		<tr><th>Variante</th><td>{{ idiolect.getDialect() }}</td></tr>
		<tr><th>Lieu</th><td>{{ idiolect.getTown() (idiolect.getCountry()) }}</td></tr>
		<tr><th>Niveau</th><td>{{ idiolect.getLevel() }}</td></tr>
		<tr><th>Profil-type</th><td>{{ idiolect.getLevel() }}</td></tr>
		<tr><th>Niveau</th><td>{{ idiolect.getLevel() }}</td></tr>
		<tr><th>Description</th><td>{{ idiolect.getDescription() }}</td></tr>
	</table>

{% endblock %}

