{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h1>Accueil</h1>
		<p>Bienvenue sur <em>Lingua Libre</em>, l’interface d’enregistrement audio libre et gratuite.</p>
		<p><em>Lingua Libre</em> est une bibliothèque d’enregistrements sonores que chacun peut venir compléter en donnant de sa voix quelques mots, quelques proverbes, quelques phrases, etc.</p>
		<p>Ces enregistrements sonores viendront enrichir les projets Wikimédia comme <em>Wikipédia</em> ou son dictionnaire, le <em>Wiktionnaire</em> mais pourront également aider les spécialistes de l’étude des langues.</p>
		<p>Cet outil de collecte collaboratif est né de l’action menée par l’association Wikimédia France autour de la valorisation de la diversité des langues internationales, minoritaires et régionales dans l’espace numérique.</p>
	</article>
	
	<article>
		<h1>Je participe au projet</h1>
		<p>Pour vous lancer dans l’aventure <em>Lingua Libre</em>, vous allez d’abord devoir effectuer <em>3 étapes</em> :</p>
		<ul>
			<li>Étape 1 : Créer un <em>compte utilisateur</em></li>
			<li>Étape 2 : Créer un profil de <em>locuteur</em> pour vous ou la personne dont vous allez enregistrer la voix</li>
			<li>Étape 3 : Définir la ou les <em>langues</em> que parle ce locuteur</li>
		</ul>
		<p>Vous pourrez alors réaliser vos enregistrements</p>
		<p>Êtes-vous prêts ? <a class="button" href="{{ path("usersAdd") }}">Je me lance !</a></p>

	</article>
	
	<footer>
		<div class="partner">
			<a target="_blank" href="http://www.culturecommunication.gouv.fr/Politiques-ministerielles/Langue-francaise-et-langues-de-France"><img src="{{ asset('img/dglflf_Logo.jpg') }}" title="Délégation Générale à la Langue Française et aux Langues de France" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.dldp.eu/"><img src="{{ asset('img/DLDP_Logo.png') }}" title="Digital Language Diversity Project" style="max-width:50px;  max-height:80px;"></a>
			<a target="_blank" href="http://locongres.org/"><img src="{{ asset('img/LoCONGRES_Logo_2.jpg') }}" title="Le Congrès permanent de la langue occitane" style="max-width:50px; max-height:80px;"></a>
			<a href="http://www.wikimedia.fr/" target="_blank" alt="Wikimédia France" title="Wikimédia France"><img src="{{ asset('img/Wikimedia-France_Logo.png') }}" title="Wikimédia France — Association pour le libre partage de la connaissance" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://shtooka.net"><img src="{{ asset('img/logo_shtooka.png') }}" title="Projet Shtooka" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="https://www.olcalsace.org/fr"><img src="{{ asset('img/olca_vert.jpg') }}" title="Office pour la langue et la culture d’Alsace" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.mncparis.fr/"><img src="{{ asset('img/MNC_logo.png') }}" title="Maison de la Nouvelle-Calédonie" style="max-width:50px; max-height:80px;"></a>
			<a href="http://www.mintzaira.fr/" target="_blank" alt="Office public de la langue basque" title="Office public de la langue basque"><img src="{{ asset('img/OPLB.jpeg') }}" title="Office public de la langue basque" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.gaugriis.com/"><img src="{{ asset('img/gaugriis_vert.jpg') }}" title="Gau un Griis" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.agencepourlepicard.fr/"><img src="{{ asset('img/agencepicard.jpg') }}" title="Agence pour le Picard" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.francophonie.org/"><img src="{{ asset('img/francophonie_vert.jpg') }}" title="Organisation internationale de la francophonie" style="max-width:50px; max-height:80px;"></a>
		</div>
	</footer>
{% endblock %}
