{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h1>Home</h1>
		<p>Welcome to <em>Lingua Libre</em>, the free and open audio recording interface.</p>
		<p><em>Lingua Libre</em> is a library of sound recordings that everyone can complete by giving a few words, some proverbs, a few sentences, and so on.</p>
		<p>These sound recordings will enrich Wikimedia projects like <em>Wikipedia</em> or its dictionary, the <em>Wiktionary</em> but can also help specialists in the study of languages.</p>
		<p>This tool is a result of a collaboration with the Franch Wikimedia, in order to promote international, minority and regional languages in the digital space.</p>
	</article>
	
	<article>
		<h1>Practicing in the project</h1>
		<p>To get started on the <em> Lingua Libre </em> adventure, you will first have to follow <em>3 steps</em>:</p>
		<ul>
			<li>Step 1 : Create a <em>user account</em></li>
			<li>Step 2 : Create a <em>speaker</em> profile for yourself or the person whose voice you are going to record</li>
			<li>Step 3 : Define the <em>langues</em> spoken by the speaker</li>
		</ul>
		<p>You will then be able to make your recordings</p>
		<p>Are you ready ? <a class="button" href="{{ path("usersAdd") }}">I'm launching !</a></p>

	</article>
	
	<article>
		<h1>Partners</h1>
		<div class="partner">
			<a target="_blank" href="http://www.culturecommunication.gouv.fr/Politiques-ministerielles/Langue-francaise-et-langues-de-France"><img src="{{ asset('img/dglflf_Logo.jpg') }}" title="Délégation Générale à la Langue Française et aux Langues de France" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.dldp.eu/"><img src="{{ asset('img/DLDP_Logo.png') }}" title="Digital Language Diversity Project" style="max-width:50px;  max-height:80px;"></a>
			<a target="_blank" href="http://locongres.org/"><img src="{{ asset('img/LoCONGRES_Logo_2.jpg') }}" title="Le Congrès permanent de la langue occitane" style="max-width:50px; max-height:80px;"></a>
			<a href="http://www.wikimedia.fr/" target="_blank" alt="Wikimédia France" title="Wikimédia France"><img src="{{ asset('img/Wikimedia-France_Logo.png') }}" title="Wikimédia France — Association pour le libre partage de la connaissance" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://shtooka.net"><img src="{{ asset('img/logo_shtooka.png') }}" title="Projet Shtooka" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="https://www.olcalsace.org/fr"><img src="{{ asset('img/olca_vert.jpg') }}" title="Office pour la langue et la culture d’Alsace" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.mncparis.fr/"><img src="{{ asset('img/MNC_logo.png') }}" title="Maison de la Nouvelle-Calédonie" style="max-width:50px; max-height:80px;"></a>
			<a href="http://www.mintzaira.fr/" target="_blank" alt="Office public de la langue basque" title="Office public de la langue basque"><img src="{{ asset('img/OPLB.jpeg') }}" title="Office public de la langue basque" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.gaugriis.com/"><img src="{{ asset('img/gaugriis_vert.jpg') }}" title="Gau un Griis" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.agencepourlepicard.fr/"><img src="{{ asset('img/agencepicard.jpg') }}" title="Agence pour le Picard" style="max-width:50px; max-height:80px;"></a>
			<a target="_blank" href="http://www.francophonie.org/"><img src="{{ asset('img/francophonie_vert.jpg') }}" title="Organisation internationale de la francophonie" style="max-width:50px; max-height:80px;"></a>
		</div>
	</article>
{% endblock %}
