{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/swac-recorder.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/ajax.js') }}"></script>

	<script type="text/javascript" src="{{ asset('js/studio/studio.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/studio/multiRecorder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/studio/speaker.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/studio/lang.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/studio/sl.js') }}"></script>

	<script type="text/javascript" src="{{ asset('js/swac-recorder/buffer.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/buffers.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/sound.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/soundWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/player.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/recorder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/recorderWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/audioAuthWidget.js') }}"></script>

	<script type="text/javascript" src="{{ asset('js/swac-recorder/cutter.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/cutterWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/cutterViewWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/listingEditorWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/listingWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/swac-recorder/listingRecorderWidget.js') }}"></script>

	<script type="text/javascript">
		
		
		var app = null;
		window.onload = function() {

			studio = new Studio({{ user.getId() }}, "{{ path('soundsApi') }}", document.getElementById('addSpeaker') );
			studio.setSpeakers({{(speakers_data|json_encode|raw)}});
			var container = document.getElementById('container');
			container.parentNode.replaceChild(studio.node, container);
		};
	</script>
{% endblock %}

{% block body %}
	<h1>Studio d’enregistrement</h1>
	<div id="container">
		<table>
			<tr>
				<th id="addSpeaker"><a href="{{ path("usersAddSpeaker", {"id": user.getId() }) }}"><img src="{{ asset("img/add_24.png") }}" title="Ajouter un locuteur"/></a></th>
			</tr>
		</table>
	</div>
{% endblock %}

