{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/soundWidget.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/helpers.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/recorder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/player.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/sound.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/soundWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/recorderWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/ajax.js') }}"></script>
	<script type="text/javascript">
		initApi();

		function send(widget) {
			var ajax = new Ajax();

			var target = "{{ path('soundsApi') }}";

			var formData = new FormData();
			formData.append("user", {{ user.getId() }});
			formData.append("sound", widget.getSound().getBlob());
			formData.append("text", widget.getText());
			formData.append("speaker", document.getElementById("speaker").value);
			formData.append("lang", document.getElementById("lang").value);

			ajax.querySendData(target, "post", formData, function(result) {
				console.log(JSON.stringify(result));
				if (result) {
					widget.destroy();
				}
			}, false);
		}

		function setDefaultLang() {
			speaker = document.getElementById("speaker");
			lang = speaker.childNodes[speaker.selectedIndex].getAttribute("lang");
			if (lang) document.getElementById("lang").value = lang;
		}

		window.onload = function() {
			container = document.getElementById("container");
			if (container) {
				widget = new RecorderWidget(send);
				container.appendChild(widget.node);
				setDefaultLang();
			}
		}
	</script>
{% endblock %}

{% block body %}
	<h1>Studio d’enregistrement</h1>
	{% if speakers|length == 0 %}
		<p>Pour procéder à l’enregistrement vous devez <a href="{{ path("usersAddSpeaker", {"id": user.getId() }) }}">créer un profil de locuteur</a>.</p>
	{% else %}
		<table class="nice">
			<tr>
				<th>Locuteur</th>
				<td>
					<select id="speaker" onchange="setDefaultLang()">{% for speaker in speakers %}<option value="{{ speaker.getId() }}" {% if speaker.getDefaultLanguage() %}lang="{{ speaker.getDefaultLanguage().getLanguage().getId() }}"{% endif %}>{{ speaker.getName() }}</option>{% endfor %}</select>
				</td>
				<th>
					<a href="{{ path("usersAddSpeaker", {"id": user.getId() }) }}"><img src="{{ asset("img/add_24.png") }}" title="Ajouter un locuteur"/></a>
				</th>
			</tr>
			<tr>
				<th>Langue</th>
				<td>
					<select id="lang">
						<option value="">- Veuillez choisir une langue -</option>
						{% for language in languages %}
						<option value="{{ language.getId() }}">{{ language.getTitle() }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</table>

		<div id="container"></div>
	{% endif %}
{% endblock %}

