{% extends 'base.html.twig' %}

{% block body %}
	<h1>Enregistrement :</h1>

	<table class="nice">
		<tr><th>Locuteur</th><td>{% if sound.getSpeaker() %}<a href='{{ path('speakersShow', {'id': sound.getSpeaker().getId()}) }}'>{{ sound.getSpeaker().getName() }}</a>{% else %}-{% endif %}</td></tr>
		<tr><th>Langue</th><td>{{ sound.getSl().getLang().getTitle() }}</td></tr>
		<tr><th>Transcription</th><td>{{ sound.getText() }}</td></tr>
		<tr><th>Date</th><td>{{ sound.getCreated()|date("d/m/Y")}}</td></tr>
		{% if sound.getDescription() %}<tr><th>Description</th><td>{{ sound.getDescription() }}</td></tr>{% endif %}
		<tr><th></th><td><audio controls="true" src="{{ asset('audio') }}/{{ sound.getFilename() }}"></audio></td></tr>
		<tr><th>Utilisateur</th><td>{% if sound.getUser() %}<a href="{{ path("usersShow", {"id": sound.getUser().getId() }) }}">{{ sound.getUser().getUsername()|capitalize }}</a>{% else %}-{% endif %}</td></tr>
		{% if sound.editableBy(user) %}<tr><th colspan="2" class="tools"><a href="{{ path("soundsUpdate", {"id": sound.getId() }) }}"><img src="{{ asset("img/edit_24.png") }}" title="Modifier"/></a> <a href="{{ path("soundsDelete", {"id": sound.getId() }) }}"><img src="{{ asset("img/delete_24.png") }}" title="Supprimer"/></a></th></tr>{% endif %}
	</table>
	
	<h2>Commentaires</h2>
	
	{% if comments|length==0 %}
		<p>Aucun commentaire à afficher.</p>
	{% endif %}
	
	{% if comments|length>0 or user != null %}
		<table class="nice">
			{% for sc in comments %}
				<tr{% if sc.getVisibility() == false %} class="privatecom"{% endif %}>
			
				<th>Par {{ sc.getUser().getUsername() }}<br />le {{ sc.getDatetime()|date("d/m/Y") }}</th>
				<td>{{ sc.getText() }}</td>
			
				{% if sc.editableBy(user) %}<th class="tools"><a href="{{ path("soundCommentsUpdate", {"id": sc.getId() }) }}"><img src="{{ asset("img/edit_24.png") }}" title="Modifier"/></a> <a href="{{ path("soundCommentsDelete", {"id": sc.getId() }) }}"><img src="{{ asset("img/delete_24.png") }}" title="Supprimer"/></a></th>{% endif %}
				</tr>
			{% endfor %}
		
			{% if user != null %}
				<tr><th class="tools"><a href="{{ path("soundCommentsAdd", {"id": sound.getId() }) }}"><img src="{{ asset("img/add_24.png") }}" title="Ajouter"/></a></th></tr>
			{% endif %}
		</table>
	{% endif %}
{% endblock %}

