{% extends 'base.html.twig' %}

{% block body %}
<article>
	<h1>New Speaker :</h1>

	{{ form_start(form) }}
	<table class="nice">
		<tr><th>Name</th><td>{{ form_widget(form.name) }}</td></tr>
		<tr><th>Sex</th><td>{{ form_widget(form.sex) }}</td></tr>
		<tr><th>Birth</th><td>{{ form_widget(form.birth) }}</td></tr>
		<tr><th>Habitation</th><td>{{ form_widget(form.livingCountry, { 'attr': {'class': 'country'} }) }}{{ form_widget(form.livingCity) }}</td></tr>
		<tr><th>Description</th><td>{{ form_widget(form.description) }}</td></tr>
		<tr><th>License</th><td class="licence">
			<div class="licenceHeader">The sounds recorded by the <span class="linguaLibre">Lingua Libre</span> project will be published under a <a href="">free license</a>. Thank you for taking time to read it.</div>
			<div class="licenceBloc">
				{% include 'speakers/license.html.inc.twig' %}
				<div><big>I accept the license</big>{{ form_widget(form.signed) }}
				<p><small>*You can approve the license later, but you must do it before starting the recordings.</small></p>
				</div>
			</div>
		</td></tr>
		<tr><th colspan="2"><input type="submit" value="Create the speaker"/></th>
	</table>
	{{ form_end(form) }}
</article>
{% endblock %}

