{% extends 'base.html.twig' %}

{% block body %}
	<h1>Licence</h1>

	<p>Les sons enregistrés grâce au projet <span class="linguaLibre">Lingua Libre</span> seront publié sous une <a href="">licence libre</a>. Merci de prendre le temps de la lire.</p>
	<p>{% include 'speakers/license.html.inc.twig' %}</p>
	{% if speaker.getSignedDate() %}
		<p>Signé le {{ speaker.getSignedDate()|date("d/m/Y") }} </p>
	{% else %}
		{{ form_start(form) }}
		<p>J’accepte la licence {{ form_widget(form.signed) }}</p>
		{{ form_widget(form.save) }}
		{{ form_end(form) }}
	{% endif %}
{% endblock %}
