{% extends 'base.html.twig' %}

{% block body %}
<article>
	<h1>Speaker</h1>

	<table class="nice">
		<tr><th>Name</th><td>{{ speaker.getName() }}</td></tr>
		<tr><th>Sex</th><td>{{ speaker.getSexSymbol() }} ({{ speaker.getSexTitle() }})</td></tr>
		<tr><th>Habitation</th><td>{{ speaker.getLivingCity() }} ({{ speaker.getLivingCountry() }})</td></tr>
		<tr><th>Birth</th><td>{{ speaker.getBirth()|date("d/m/Y") }}</td></tr>
		{% if speaker.getDescription() %}<tr><th>Description</th><td>{{ speaker.getDescription() }}</td></tr>{% endif %}
		<tr><th>License</th><td>{% if speaker.getSignedDate() %}<a href="https://creativecommons.org/licenses/by-sa/4.0/"><span class="creativeCommons">CC-BY-SA 4.0</span></a> signée le {{ speaker.getSignedDate()|date("d/m/Y") }}{% else %}<a href="{{ path("speakersLicense", {"id": speaker.getId() }) }}">Non signée</a>{% endif %}</td></tr>
		<tr><th>User</th><td>{% if speaker.getUser() %}<a href="{{ path("usersShow", {"id": speaker.getUser().getId() }) }}">{{ speaker.getUser().getUsername()|capitalize }}</a>{% else %}-{% endif %}</td></tr>
		{% if speaker.editableBy(user) %}<tr><th colspan="2" class="tools"><a href="{{ path("speakersUpdate", {"id": speaker.getId() }) }}"><img src="{{ asset("img/edit_24.png") }}" title="Modifier"/></a> <a href="{{ path("speakersDelete", {"id": speaker.getId() }) }}"><img src="{{ asset("img/delete_24.png") }}" title="Supprimer"/></a></th></tr>{% endif %}
	</table>

	<h2>Languages</h2>

	{% if speaker.getIdiolects()|length > 0 %}
		<table class="nice">
		<tr>
			<th></th>
			<th>Dialect</th>
			<th>Place</th>
			<th>Level</th>
			<th>Description</th>
		</tr>
		{% for idiolect in speaker.getIdiolects() %}
			<tr>
				<th>{{ idiolect.getLanguage().getTitle() }}</th>
				<td>{{ idiolect.getDialect() }}</td>
				<td>{{ idiolect.getTown() }} {% if idiolect.getCountry() %}({{ idiolect.getCountry() }}){% endif %}</td>
				<td>{{ idiolect.getProfileType() }}</td>
				<td>{{ idiolect.getDescription() }}</td>
				{% if speaker.editableBy(user) %}<th><a href="{{ path("idiolectsUpdate", {"id": idiolect.getId() }) }}"><img src="{{ asset("img/edit_24.png") }}" title="Modifier"/></a> <a href="{{ path("idiolectsDelete", {"id": idiolect.getId() }) }}"><img src="{{ asset("img/delete_24.png") }}" title="Supprimer"/></a></th>{% endif %}
			</tr>
		{% endfor %}
			{% if speaker.editableBy(user) %}<tr><th><a href="{{ path("idiolectsAdd", {"id": speaker.getId() }) }}"><img src="{{ asset("img/add_24.png") }}" title="Ajouter"/></a></th></tr>{% endif %}

		</table>
		<p><em>Congratulations!</em> You can now start a <em>recording session</em> !</p>
		<a class="button" href="{{ path('usersRecord', {"id":speaker.getUser().getId() }) }}">Go to the recording Studio</a>
	{% else %}
		<p>This speaker does not have a defined language yet. You will need to fill out an information sheet for <em> each spoken language </Em> by this person.</p>
		{% if speaker.editableBy(user) %}<a class="button" href="{{ path("idiolectsAdd", {"id": speaker.getId() }) }}">Step 3 : Define a language</a>{% endif %}
		</p>
	{% endif %}
</article>	
{% endblock %}

