{% extends 'base.html.twig' %}

{% block body %}
	<table class="nice">
		<tr><th>Langue</th><td>{{ sl.getLanguage().getTitle() }}</td></tr>
		<tr><th>Variante</th><td>{{ sl.getDialect() }}</td></tr>
		<tr><th>Lieu</th><td>{{ sl.getTown() (sl.getCountry()) }}</td></tr>
		<tr><th>Niveau</th><td>{{ sl.getLevel() }}</td></tr>
		<tr><th>Profil-type</th><td>{{ sl.getLevel() }}</td></tr>
		<tr><th>Niveau</th><td>{{ sl.getLevel() }}</td></tr>
		<tr><th>Description</th><td>{{ sl.getDescription() }}</td></tr>
	</table>

{% endblock %}

